<!-- small header -->
<nav class="navbar navbar-light bg-orange secondary-header ">
    
  </nav>
<!-- end of small header  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light main-header">
    <a class="navbar-brand" href="#"><img class="logo" src="assets/imgs/logo.PNG"></a>
    
    <a class=" golden-icon" href="#">
        <img src="assets/imgs/golden.png">
        <span class="badge badge-light text">أشتراك<br> ذهبي</span>
    </a>
    <a class="d-block icon-link" href="#">
        <img src="assets/imgs/bgs.png">
        <span class="badge badge-light">9</span>
    </a>
    
    <button class="navbar-toggler no-border" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-gray" href="#">الرئيسيه</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-gray" href="#">دليل الاستخدام</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-gray" href="#">الربط مع متجرك</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              حسابى
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
       
      </ul>
    </div>
  </nav>

  <div class="banner">
    banner
  </div>
  