.text-white {
    color: $white;
}
.text-gray {
    color: $bolish-gray ;
}
.text-orange {
    color: $bright-orange;
}
.fw-600{
    font-weight: 600;
}
.fs-16{
    font-size: 1rem;
}
.fs-14 {
    font-size: 0.8rem;
}
.fs-18 {
    font-size: 1.2rem;
}
.fs-20 {
    font-size: 1.4rem;
}