$bright-orange : #fc6602 ;
$bright-orange-50 : rgba(252, 102, 2, 0.5) ;
$bright-gray: rgb(248, 248, 248);
$white : rgb(255,255,255) ;
$bolish-gray: #333333 ;
$black: rgb(0,0,0);
$gray: rgb(85, 85, 85) ;
$gray-50: rgb(85, 85, 85,0.5); 

