.no-border{
    border: none;
}


.btn-orange {
    display: inline-block;
    color: $white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: $bright-orange;
    border-radius: 12px;
    font-size: 15px;
    &:hover{
      color: $white;
      text-decoration: none;
    }
    &:focus,
    &.focus {
      color:$white ;
        outline: 0;
    }
}