<div class="d-block text-right bg-gray footer">
    <div class="d-block">
    <img class="logo" src="assets/imgs/logo.PNG">
   </div>
    <div class="d-block">
        <h4>معلومات الاتصال</h4>
    </div>
    <div class="d-block data">
        <i class="fas fa-map-marker-alt"></i>
        النزهة الجديدة , القاهرة , مصر
    </div>
    <div class="d-block data">
        <i class="fas fa-envelope"></i>
        : الايميلinfo@tagerly.net
    </div>
    <div class="d-block data">
        <div class="d-flex social">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-youtube"></i>
        </div>
    </div>
    <div class="d-block data">
        <i class="fas fa-headset"></i>
         للشكاوى و الاسئله ؟
    </div>
  </div>