<div class="product-wrapper">
    <div class="product-img">
        <img src="assets/imgs/mug.jpg" alt="">
        <span class="img-title">
            <i class="fas fa-truck"></i>
            المبيعات: 3.5
        </span>
    </div>
    <div class="product-description">
        <div class="d-block text-center">
            <h3 class="title">مج حرارى</h3>
            <h4 class="stock"> قطعه المخزون : 102</h4>
            <h4 class="text-orange">80 جنيه </h4>
            <div class="d-flex justify-content-between price">
                <span>سعر البيع : 150 </span>
                 <span>اقل ربح : 70</span>
            </div>
            <div class="d-flex justify-content-between mt-2">
                <input class="form-control" type="number">
                <button class="btn btn-orange ">أضافة الى السله </button>
            </div>
        </div>

        

    </div>
</div>