.footer {
    padding: 38px;
    
    .logo {
    width: 200px;
    height: 80px;
  }
  h4{
      font-size: 1.5rem;
  }
  .data{ 
    margin: 1rem 0;
    color: $gray;  
    font-size: 25px;
    i{
        font-size: 25px;
    }
  }
  .social{
      i:first-child {
          padding: 0.5rem 0 ;
      }
      i {
          margin:0.5rem;
          padding: 0.5rem;
          color: $gray;
          font-size: 30px;
      }
  }
}
