.secondary-header {}

.main-header {
  .logo {
    width: 166px;
    height: 66px;
  }

  .golden-icon {
    position: relative;
    padding: 0.5rem;
    display: flex;
    
    .img {
      width: 28px;
    }

    .text {
      font-size: 14px;

      color: $bright-orange;
    }
  }

  .icon-link {
    position: relative;

    img {
      width: 28px;
    }

    .badge {
      position: absolute;
      bottom: -7px;
      right: -5px;
      background: $bright-orange;
      border-radius: 50%;
      color: $white;
    }
  }

}

// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) {
  .secondary-header {
    display: none;
  }

  .main-header {
    .logo {
      width: 130px;
      height: 46px;
    }

    .golden-icon {
      position: relative;
      padding: 0.5rem;
      display: flex;

      .img {
        width: 28px;
      }

      .text {
        font-size: 14px;

        color: $bright-orange;
      }
    }

    .icon-link {
      position: relative;

      img {
        width: 28px;
      }

      .badge {
        position: absolute;
        bottom: -7px;
        right: -5px;
        background: $bright-orange;
        border-radius: 50%;
        color: $white;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}
