.product-wrapper {
  max-width: inherit;
  margin: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: 4px 4px 10px 0 rgba(146, 146, 146, 0.1);
  border-radius: 14px;

  .product-img {
    width: fit-content;
    background-color: $white;
    height: inherit;
    position: relative;

    img {
      width: 100%;
      max-width: 400px;
      max-height: 380px;
      object-fit: contain;
    }

    .img-title {
      color: $white;
      background-color: $bolish-gray;
      padding: 10px 2rem;
      position: absolute;
      bottom: -20px;
      font-size: 16px;
      left: 10%;
      font-weight: 600;
      border-radius: 8px;
    }
  }

  .product-description {
    margin-top: .8rem;
    padding: 8px;

    .title {
      color: $gray;
    }

    .stock {
      color: $gray-50;
    }

    .price {
      color: $gray;
      font-weight: 600;
    }

    input {
      width: 80px;
      border-radius: 12px;
    }

  }
}

// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) {
  .product-img {
    position: relative;
    .img-title {
      color: $white;
      background-color: $bolish-gray;
      padding: 10px 2rem;
      position: absolute;
      bottom: -20px;
      font-size: 16px;
      left: 24% !important;
      font-weight: 600;
      border-radius: 8px;
    }
  }
  .product-description {
    margin-top: .8rem;
    padding: 8px;

    .title {
      color: $gray;
    }

    .stock {
      color: $gray-50;
      font-size: 18px;
    }

    .price {
      color: $gray;
      font-weight: 600;
      font-size: 18px;
      margin: 1rem 0 ;
    }
    input {
      width: 108px;
      border-radius: 12px;
      font-size: 23px;
    }
    button {
      font-size: 23px;
      padding: 8px 42px;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}
